.git
.gitignore
.next
.codex
.vscode
node_modules
media
backups
coverage
*.log
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
